.c1{
    text-align: center;
    margin: 2%;
    
}
.c2{
    margin: 2%;
    
}
.c3{
    margin: 2%;
}
.c4{
    margin: 2%;
    
}
button{
    color: rgb(0, 10, 6);
    background-color: rgb(178, 238, 68);
    border-radius: 50px;
}
button:hover{
    color: rgb(1, 14, 14);
    background-color: rgb(209, 141, 92);
   border-radius: 20%;
}
.c5{
    text-align: center;
    height: 20px;
    width: 200px;
}
.c6{
    text-align: center;
    height: 20px;
    width: 200px;
}
.c7{
    text-align: center;
    height: 20px;
    width: 200px;
}
body{
    background-color: burlywood;
}
.c{
    
}
table{
    background-color: aquamarine;
    
}